html
  head 
    title Cover Page
    link(rel='stylesheet', href='/css/cover.css')
 
body
  .cover-container
    .container-text
      p.book-orbit Book Orbit
        button.create-account(onclick="window.location.href='/create-account'") Create Account
    .container-image 
      img(src="/images/read.png", alt="Reading Image")
