html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login - BOOK ORBIT
    link(rel="stylesheet", href="/css/styles.css")
  body
    .background-login
    .signup-container-login
      h1 Welcome Back
      p Hey there. Login to your account to continue enjoying books on the go!!

      .google-signup
        img(src="/images/google.png", alt="google")
        p Sign up with google

      .or
        hr
        p OR
        hr

      // Login Form
      form#login-form-login
        .form-group-login
          label.email-login(for="email-login") Email
            input(type="email" id="email-login" name="email" placeholder="Enter Email here" required)
            span.error-message-login 
        .form-group-login
          label.password-login(for="password-login") Password
            input.password-login(type="password" id="password-login" name="password" placeholder="Enter password here" required minlength="8")
            span.error-message-login
        p.password-Login-hint Forget Password?
        button(type="submit") Log In
      p.login-link-login Don't have an account? 
        a(href="/signup") Sign Up

    // Success Pop-up
    
    #success-popup-login.popup-login
      .popup-content-login
        .success-login
          h5 Successful
          p Login successful!
          button#close-popup-login Close

    script(src="/js/login.js")