html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sign Up - BOOK ORBIT
    link(rel="stylesheet", href="/css/styles.css")
  body
    .background
    .signup-container
      h1 Create an Account
      p Get instant access to books at the comfort of wherever you are with BOOK ORBIT.
      form#signup-form(action="/auth/register" method="POST")
        .form-group
          label(for="username") Username
          input(type="text" id="username" name="username" placeholder="Enter your username" required)
          span.error-message Required
        .form-group
          label(for="email") Email
          input(type="email" id="email" name="email" placeholder="Enter Email here" required)
          span.error-message Required
        .form-group
          label(for="password") Password
          input(type="password" id="password" name="password" placeholder="Enter password here" required minlength="8")
          span.error-message Required
          p.password-hint Password should consist of 8 characters.
        .form-group
          label(for="confirm-password") Confirm Password
          input(type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password" required minlength="8")
          span.error-message Required
          p.password-hint Password should consist of 8 characters.
        button(type="submit") Create account
      p.login-link Already have an account? 
        a(href="/login") Log in

    // Success Popup
    #success-popup.popup
      .popup-content
        .success
          h5 Successful
          p Account Created successfully!
          a(href="/login") Log In
          button#close-popup Close

    script(src="/js/signup.js")